:root {
    --bc: #fff;
    --fc-main: #787878;
    --fc-navbar: #aaaaaa;
    --fc-active: #dc1414;
    --color-active-elem: #dc1414;

    --fc-tile: #dc1414;
}

body {
    color: var(--fc-main);
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5em;
    min-height: 100vh;
}

.main_container {
    display: flex;
    flex-flow: row nowrap;
    min-height: calc(100vh - 3.4em);
}

.nav {
    display: flex;
        flex-flow: column nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    padding: 3em 2em 1em 2em;
    position: fixed;
        left: 0;
        top: 0;
}

.nav__item {
    display: block;
}

.nav__item a {
    border-left: 3px solid rgba(255,255,255, 1);
    color: var(--fc-navbar);
    text-decoration: none;
    padding: 0 .5em;
}

.nav__item.active {
    margin: .6em 0;
}

.nav__item.active a {
    border-left: 3px solid var(--fc-main);
    color: var(--fc-main);
    font-weight: 500;
}

.nav__item a:hover {
    border-left: 3px solid var(--fc-active);
    color: var(--fc-active);
    cursor: pointer;
}

main {
    display: flex;
        align-items: center;
        flex-flow: column;
    margin: 1em 2em 0 11.5em;
    width: 100vw;
}

main h1 {
    color: var(--fc-tile);
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin: 0.5em 2em ;
}

main h2 {
    display: block;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0.5em 0;
}

.widgets {
    font-weight: 300;
}

footer {
    border-top: 1px solid #dc1414;
    display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    font-size: .8em;
    line-height: 1em;
    margin-top: 1em;
    padding: 1.2em 2em;
}

footer a:hover svg {
    fill: #dc1414;
}

form {
    min-width: 500px;
    width: 80%;
}

.form_item {
    margin-top: 1.5em;
    position: relative;
}

.form_item > label {
    background-color: var(--bc);
    display: inline-block;
    font-family: 'Comfortaa', sans-serif;
    font-size: .8em;
    line-height: 1em;
    padding: 0 .5em;
    position: absolute;
        left: 2em;
        top: -.5em;
}

.form_item > label > span {
    color: var(--fc-active);
}

.form_item > input, textarea {
    border: 1px solid var(--fc-navbar);
    border-radius: 5px;
    color: var(--fc-main);
    font-family: 'Comfortaa', sans-serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
    padding: .7em .7em .3em .7em;
    width: -webkit-fill-available;
}

.form_item > input:focus, textarea:focus {
    border: 2px solid var(--fc-active);;
}

.form_item > input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-text-fill-color: var(--fc-main);
    -webkit-box-shadow: 0 0 0 50px white inset;
}

input[type="submit"]:hover {
    background-color: #fcc2c2;
    border: 1px solid var(--fc-active);
}

.error_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error_text {
    color: #dc1414;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2em;
    font-weight: 700;
}
